*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Literata', serif;
    --main-color: hsl(195, 100%, 50%);
    --secondary-color: hsl(195, 50%, 50%);
}

/* login start */

.login-container{
    display: none;
}

.login-container:target{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 0 10px 5px #000;
    padding: 1em;
    background-color: #fff;
}

.close::after{
    content: "x";
    color: #fff;
    background-color: #000;
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    border: none;
    outline: none;
    font-size: 1em;
    height: 2em;
    font-family: var(--font-family);
}

.login-input{
    border-bottom: 1px solid #000;
    width: 100%;
}

.login-submit{
    margin-top: 1em;
    border-radius: .5em;
    background-color: var(--main-color);
}

.login-submit:hover, 
.login-submit:active{
    background-color: var(--secondary-color);
}

.link{
    font-size: .8em;
    text-decoration: none;
}

.mt1{
    margin-top: 1em;
}

/* login end */

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.menu-item{
    flex: 1;
}